*,
*:after,
*:before {
  box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	height: 150vh;
}

header {
	align-items: center;
	background-color: #3F3244;
	color: #FFF;
	display: flex;
	height: 10vh;
}

h1 {
	margin-left: 50px;
	font-weight: 300;
}

.h1-color {
	color: #34D1D1;
}

.header-name {
	position: absolute;
	right: 50px;
	font-weight: 600;
	text-align: right;
}

/* ACCORDION TABS */

.l-accordion-tabs {
	display: flex;
	flex-wrap: wrap;
	height: 70vh;
	justify-content: center;
	margin-top: 20px;
	width: 100%;
}

.l-section-title {
	align-items: center;
	display: flex;
	height: 10%;
	width: 100%;
}

h2 {
	font-weight: 300;
	margin-left: 50px;
	text-transform: uppercase;
	width: 300px;
}

hr {
	border-top: 1px solid #D1D2D3;
	margin-right: 20px;
	width: 90%;
}

article {
	border-top: none;
	display: flex;
	flex-wrap: wrap;
	height: 90%;
	justify-content: center;
	margin-top: 80px;
	width: 80%;
}

.tab {
	align-items: center;
	background-color: #F2F2F2;
	border: 1px solid #FFF;
	border-bottom: 1px solid #666;
	color: #666;
	cursor: pointer;
	display: flex;
	height: 10%;
	justify-content: center;
	width: 25%;
}

.is-active {
	font-weight: 600;
	border: 1px solid #666;
	background-color: #FFF;
	border-bottom: none;
}

.sign {
	display: none;
}

.display {
	border: 1px solid #666;
	border-top: none;
	display: flex;
	height: 100%;
	width: 100%;
}

img {
	height: 85%;
	margin: 40px;
	object-fit: fill;
	width: 40%;
}

.info {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

h3 {
	font-weight: 600;
	height: 10%;
	margin-top: 60px;
	width: 100%;
}

.display-hr {
	margin-top: -10px;
	width: 90%;
}

.description {
	font-weight: 300;
	height: 90%;
	line-height: 25px;
	margin: 20px 0;
	padding-right: 20px;
	width: 100%;
}

button {
	background-color: #3F3244;
	border: none;
	color: #FFF;
	font-weight: 300;
	height: 50px;
	margin-top: 75px;
	width: 30%;
}

/* MEDIA QUERIES */

@media (max-width: 980px) {
	.l-section-title {
		align-items: center;
		flex-direction: column;
	}

	h2, hr {
		margin-left: 0;
		text-align: center;
	}

	hr {
		margin-top: 20px;
		width: 150px;
	}

	article {
		flex-direction: row;
		height: 800px;
	}

	.tab {
		border: 1px solid #D1D2D3;
		height: 7%;
		justify-content: flex-start;
		padding-left: 20px;
		width: 90%;
	}

	.tab p {
		width: 100%;
	}

	.sign {
		display: inline;
		font-size: 30px;
		margin-left: 75%;
	}

	.display {
		border: 1px solid #D1D2D3;
		flex-direction: column;
		width: 90%;
	}

	img {
		height: 300px;
		margin: 0;
		object-fit: cover;
		width: 100%;
	}

	.info {
		justify-content: center;
	}

	.display-hr {
		margin: 0;
	}

	h3 {
		margin: 20px;
	}

	.description {
		padding: 20px;
	}

	button {
		width: 90%;
	}
}

@media (max-width: 600px) {
	article {
		height: 1000px;
	}
}
